<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../Static/aboutme.css" rel="stylesheet">
    <title>About Me</title>
</head>

<body>
    <button id="opennav">Open</button>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <div class="t_menu" hidden>
                    <p>Menu</p>
                    <a href="home.html">Home</a>
                    <a href="https://docs.google.com/document/d/e/2PACX-1vSjEOwi7hzYqwk_evDlgHG7xWTCKNHkQH6liHFnVRO7Bc3fyo63l_dmVLydH24r7QWeZbs8eTEFf-o8/pub">Resume</a>
                    <a href="aboutme.html">About Me</a>
                    <a href="workxp.html">Work Experience</a>
                    <a href="projects.html">My Projects</a>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="title">
                    <h1>About Me</h1>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="myinfo">
                    <h3>
                        <strong> My Name Is: </strong>
                        <hr style="width: 10em;">
                    </h3>
                    <p id="res"> Jose Valente Lopez Vargas </p>
                    <h3>
                        <strong> Born: </strong>
                        <hr style="width: 10em;">
                    </h3>
                    <p id="res"> February 14, 1998 In Tepeji Del Rio Hidalgo, MX </p>
                    <h3>
                        <strong> Raised: </strong>
                        <hr style="width: 10em;">
                    </h3>
                    <p id="res"> Bruce Mississippi, USA </p>
                    <h3>
                        <strong> High School Career: </strong>
                        <hr style="width: 10em;">
                    </h3>
                    <p id="res"> Graduated Bruce HighSchool In Bruce, MS May 27, 2017</p>
                    <h3>
                        <strong> Current Career: </strong>
                        <hr style="width: 10em;">
                    </h3>
                    <p id="res"> Software Development
                        <br> Enrolled In Base Camp Coding Academy </p>
                    <h3>
                        <strong> Expected Graduation Date: </strong>
                        <hr style="width: 10em;">
                    </h3>
                    <p id="res"> May 12, 2018</p>
                    <hr style="width: 10em;">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="bot" style="padding-top: 2em;">
                <div class="col-sm-3">

                    <div class="lpart">
                        <h1>Left Side</h1>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="largepar">
                        <h1>My Long Story Short</h1>
                        <p>
                            One day, after my mother had been in a foreign country for two years persuing a better life for us, I was playing with my
                            <br>cousin behind his house in my small home town,
                            <br>Mexico, throwing rocks at bottle targets. It was a great, warm evening...
                            <br>The sunset was approaching, the clouds were think and spaced out.
                            <br>I remember a woman looking at me from the hill where my house was set at.
                            <br>I was blessed to hear the beautiful voice of an angel saying
                            <br>"Jose, my love!"
                            <br>It was my mom. My mom and dad never got along once she was back.
                            <br>My mom, my sister, and I decided to go for a vacation, alone.
                            <br>Never did I imagine, this vacation would change
                            <br>my life forever...
                            <br>I was only 6 years old at the time, and my sister was five,
                            <br>we traveled to the
                            <br>Federal District in Mexico, where the big city lights exist.
                            <br>It was a great adventure since we had never been anywhere
                            <br>where there were lights on the road, I was used to the dark, deserted dusty road paths back in
                            my town.
                            <br>We spend a night there and we moved on to the next place. My mom bought us food
                            <br>from restaurants, "this vacation",
                            <br>I thought to myself, "it is great! I have never ate at a restaurant before!
                            <br>Now we eat everyday!".
                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="rpart">
                        <h1>Right Side</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/jquery"></script>
    <script src="index.js"></script>
</body>

</html>