<html>

<head>
    <title>Jose's Portfolio</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <link href="stylesheet.css" rel="stylesheet">
    <link rel="icon image" type="icon" href="megrad.JPG">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="menu">
                    <ul>
                        <li><a href="https://basecampcodingacademy.org/news-press">News</a></li>
                        <li><a href="#alittlemoreaboutme"> A Little More About Me! </a></li>
                        <li><a href="#mycurrentjob"> My Job During Base Camp! </a></li>
                        <li><a href="#before"> Before Base Camp! </a></li>
                        <li><a href="#afterbasecamp"> My Plans After Base Camp! </a></li>
                        <li><a href="https://basecampcodingacademy.org/"> BaseCamp CA </a></li>
                        <li><a onclick="document.location.reload()"> Reload </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h1> Jose Vargas </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="meandsis">
                    <img class="img-responsive" src="../meandsis.JPG">
                </div>
            </div>
            <!-- <div class="col-lg-6">
                <div class="dropdown">
                    <button class="dropbtn">Check Me!</button>
                    <div class="dropdown-content">
                        <a href="#alittlemoreaboutme">A Little More About Me</a>
                        <a href="#mycurrentjob">My Current Job</a>
                        <a href="#before">Before BaseCamp</a>
                        <a href="after">My Plans After BaseCamp</a>
                    </div>
                </div>
            </div> -->
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-5">
                <h1>About Base CamP</h1>
                <div class="info">
                    <p>
                        Base Camp Coding Academy is exactly as it's title says. It is a software developing program which nominates bright students
                        from a close area to enter and learn how to code and decode. It is also non-profit, meaning that
                        they make no money for the program off of you. Base Camp provides many advantages like, gas cards,
                        meal plan, and free education thanks to our supporters and sponsors who pay for the education we
                        recieve.
                    </p>
                </div>
            </div>
            <div class "col-lg-7">
                <div class="basecampphoto">
                    <img src="../jose.jpg">
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-5">
                <div class="alittleaboutme" id="alittlemoreaboutme">
                    <h2>
                        A Little More About Me!
                    </h2>
                    <p>
                        <ul>
                            <li>Jose Vargas</li>
                            <li>19 Years old</li>
                            <li>Born In Tepeji Del Rio, Hidalgo, MX</li>
                            <li>Lived In Bruce, MS for 13 Years</li>
                            <li>Graduated From Bruce High School</li>
                            <li>Became Enrolled In Base Camp Coding Academy</li>
                            <li>Planning To Work For A Finance Company One Day</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="mypic">
                    <img src="../megrad.JPG">
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-5">
                <div class="mycurrentjob" id="mycurrentjob">
                    <h2>My Current Job</h2>
                    <h3>Cookie's Express</h3>
                    <dt>Position Title</dt>
                    <li>Manager</li>
                    <dt>Start Date</dt>
                    <li>February, 2017</li>
                    <dt>End Date</dt>
                    <li>Present</li>
                    <dt>Boss's Name, Age, and Number</dt>
                    <li>Malek Alyami</li>
                    <li>21 Years Old</li>
                    <li>Cannot Specify</li>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="cookies">
                    <img src="../cookies.jpg">
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <div class="shaped"></div>
                <div class="content" id="before">
                    <h2>Before<br /><span>B</span> ase Camp</h2>
                    <p>
                        I had plans to attending to ICC (Itawamba Community College) and be in the band there. I already had a position there as
                        a lead trumpet soloist and everything was paid for. I worked on plenty of music for brass quintet
                        concerts and other events like dinner shows, festival performances, and even entertainment. Seven
                        years ago, as I moved up to Highschool, I was introduced to the band program. I gained interest very
                        quickly and joined with the trumpet as my primary instrument. At first, I struggled a good bit, but
                        as the time passed, I became to pick up and eventually I became 1st chair all year long. Later, I
                        was chosen by director vote and many student votes as well. I began by arranging practices for the
                        better of our section and by strongly encouraging them to show professionalism in the way they present
                        thierselves on the field.
                    </p>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <div class="afterbasecamp" id="afterbasecamp">
                    <h2>Plans After Base Camp And Future</h2>
                    <p>
                        After Base Camp, I am sure my life is going to change. I want to succeed in life and I am really looking forward to graduate
                        from Base Camp and become a developer for C-Spire. I love the fact that I will be making good money
                        doing what I love and that I will not have to wake up everyday worried about how bad I don't want
                        to do what I used to do everyday. First I would like to be able to graduate and make my family proud
                        of me and have a nice home family reunion to celebrate my success. I would like to later move out
                        and go to my future home so I can live closer to my future job. Once I move to my new town, I would
                        like to go out and explore it and meet new people in new places around the town. I would make new
                        friends and have company come over so that I won't feel the necesity to go back home every week.
                        I would then begin my work life and do what I love. I love the fact that I will live a good life
                        without any worries economically and be able to spend money on my family without thinking what I
                        have to save for, because if I want to buy a vehicle, I will be able to because I could finally finance.
                        I have many plans for after graduation and my future after Base Camp.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>