body {
    background-image: url(../keyboard.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    margin: 0px;
    padding: 0px;
}

.container {
    background-color: hsla(236, 97%, 65%, 0.7);
    border-radius: 45px;
}

.container h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
    color: black;
    background-color: white;
    text-align: center;
    padding: 15px;
    border-radius: 45px;
}

.basecampphoto img {
    width: 650px;
    height: 625px;
    border-radius: 45px;
}

.info p {
    background-color: rgba(255, 255, 255, 0.4);
    font-family: 'Abril Fatface', cursive;
    font-size: 25px;
    padding: 20px;
    border-radius: 45px;
}

.meandsis img {
    border-radius: 45px;
}
.menu {
    padding: 20px;
    border-radius: 35px 30px;
}
.menu ul {
    background-color: rgba(0, 0, 0, 5);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 1.2em;
}

.menu li {
    font-family: 'Acme', sans-serif;
    font-size: 1.178em;
    height: 4em;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
}
.menu li:hover {
    background-color: rgba(0, 24, 240, 0.66);
}
.menu a {
    color: white;
    text-decoration: none;
}

.content {
    font-family: 'Tangerine', cursive;
    color: skyblue;
    font-size: 45px;
    padding: 15px 20px;
    border-style: groove;
    border-radius: 45px;
    font-weight: bolder;
    -webkit-text-stroke-color: blue;
    -webkit-text-stroke-width: 0.3px;
}

.content p {
    font-family: 'Tangerine', cursive;
    color: skyblue;
    font-size: 35.6px;
    font-weight: bolder;
    border-color: blue;
    -webkit-text-stroke-color: blue;
    -webkit-text-stroke-width: 0.8px;
}

.shaped {
    height: 147%;
    width: 100%;
    float: right;
    background: url(../trumpet.jpg) center center no-repeat;
    border-radius: 45px;
    background-size: cover;
    shape-outside: polygon(15% 0px, 15% 20%, 65% 100%, 100% 100%, 100% 0px);
    shape-margin: 15px;
    background-size: cover;
}

.alittleaboutme {
    font-family: 'Abril Fatface', cursive;
    padding: 20px 20px;
    border-radius: 45px;
    background-color: brow;
}

.alittleaboutme ul {
    border-radius: 45px;
    font-family: 'Abril Fatface', cursive;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 30px;
    border-radius: 45px;
}

.alittleaboutme h2 {
    font-size: 50px;
    background-color: white;
    border-radius: 50px;
    padding: 25px;
}

.mypic img {
    border-radius: 55px;
}

.mycurrentjob {
    font-family: 'Abril Fatface', cursive;
    padding: 15px 20px;
    border-radius: 45px;
    background-color: rgba(255, 255, 255, 0.4);
    display: inline-block;
}

.mycurrentjob h2 {
    font-size: 50px;
}

.mycurrentjob dt {
    font-size: 23px;
}

.mycurrentjob h3 {
    font-size: 36px;
}

.mycurrentjob li {
    font-size: 20px;
}
.afterbasecamp h2 {
    font-family: 'Abril Fatface', cursive;
    padding: 25px;
    border-radius: 45px;
    background-color: white;
}
.afterbasecamp p {
    padding: 25px;
    border-radius: 45px;
    font-family: 'Abril Fatface', cursive;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 25px;
}
.cookies img {
    border-radius: 55px;
    width: 680px;
    height: 450px;
    margin-left: -50px;
}
